{{!-- contenedor total --}}
<section class="container-fluid min-vh-100 py-5">
    {{!-- contenedor principal --}}
    <div class="container mt-5 pt-5">
        <div class="row py-5">
            <div class="col-12">
                {{!-- titulo principal --}}
                <h2 class="text-center text-capitalize fw-bold">mi perfil</h2>
                {{!-- ccard principal --}}
                <div class="card p-3 shadow">
                    <div class="card-body">
                        <div class="row">
                            {{!-- imagen card --}}
                            <div class="col-12 col-md-6 text-center">
                                <img height="300px" class="m-3 rounded-circle" src="https://fotos-ayvisa.s3.eu-west-3.amazonaws.com/wp-content/uploads/2021/02/23202742/descargar-foto-perfil-instagram.jpg" alt="Foto de perfil">
                            </div>
                            <div class="col-12 col-md-6">
                                {{!-- datos personales --}}
                                <form action="">
                                    {{!-- nombres perfil --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="nombre" class="form-label fw-bold">Nombres</label>
                                        <input type="text" class="form-control" id="nombre_perfil" name="nombre_perfil" value="{{perfil.nombre_perfil}}" disabled>
                                    </div>
                                    {{!-- apellidos perfil  --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="apellido_p" class="form-label fw-bold">Apellidos</label>
                                        <input type="text" class="form-control" id="apellido_perfil" name="apellido_perfil" value="{{perfil.apellido_perfil}}" disabled>
                                    </div>
                                    {{!-- correo perfil  --}}
                                    <div class="mb-3 border-top border-3 p-2">
                                        <label for="correo" class="form-label fw-bold">Correo</label>
                                        <input type="email" class="form-control" id="email_usuario" name="email_usuario" value="{{perfil.email_usuario}}" disabled>
                                    </div>
                                </form>
                            </div>
                            {{!-- botones de edicion --}}
                            <div class="col-12 text-center">
                                <a href="/perfil/cambiar_datos"><button type="submit" class="btn btn-secondary-eco m-2 px-4 py-2">Editar Perfil</button></a>
                                <a href="/perfil/cambiar_pass"><button type="submit" class="btn btn-secondary-eco m-2 px-4 py-2">Editar Contraseñas</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5 g-5">
            {{!-- posters perfi personal --}}
            <div class="col-12">
                <h2 class="text-center text-capitalize fw-bold">mis posters</h2>
            </div>
            {{!-- si tiene destinos se muestra --}}
            {{#if destinos}}
                {{#each destinos}}
                    <div class="col-12 col-md-4">
                        <div class="card text-center" style="width: 18rem;">
                            {{!-- titulo --}}
                            <div class="card-header">
                                <p>{{titulo_destino}}</p>
                            </div>
                            {{!-- imagen  --}}
                            <div class="card-body p-0">
                                <img src="images/destinos/{{titulo_destino}}.png" class="card-img-top" alt="...">
                            </div>
                            {{!-- ver mas destino personal --}}
                            <div class="card-footer">
                                <p><a href="/destinos/{{id_destino}}">Ver más</a><span class="visually-hidden">extra</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                {{!-- sino muestra mensaje de error  --}}
                <h2>No se encontraron datos</h2>
            {{/if}}
        </div>
    </div>
</section>