<main class="container-fluid py-5">
    <div class="container mt-5 py-5">
        <div class="row">
            <div class="col-lg-3 col-md">
                <form name="container-form"  method="POST" action="">
                    <ul class="list-group">
                        <li class="list-group-item mx-0" style="background: rgba(61,50,66,0.1); color: #162A35;"><b>Filtros</b></li>
                        <li class="list-group-item mx-0" style="background: rgba(61,50,66,0.1); color: #162A35;">
                            <div class="bg-light p-2" style="border-radius: 20px;">
                                <b>Cuidad</b>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="medica" name="categoria" class="custom-control-input" value="Área Médica">
                                    <label class="custom-control-label" for="medica">Lima</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="tecnica" name="categoria" class="custom-control-input" value="Área Técnica">
                                    <label class="custom-control-label" for="tecnica">Ica</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="psico" name="categoria" class="custom-control-input" value="Área psicología, terapéutica, etología">
                                    <label class="custom-control-label" for="psico">Ayacucho</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="cuidado" name="categoria" class="custom-control-input" value="Cuidado y pretección animal">
                                    <label class="custom-control-label" for="cuidado">Loreto</label>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item mx-0" style="background: rgba(61,50,66,0.1); color: #162A35;">
                            <div class="bg-light p-2" style="border-radius: 20px;">
                                <b>Magnitud</b>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="bachiller" name="rango" class="custom-control-input" value="Bachiller">
                                    <label class="custom-control-label" for="bachiller">Gran viaje</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="práctica pre-profesional" name="rango" class="custom-control-input" value="Práctica pre-profesional">
                                    <label class="custom-control-label" for="práctica pre-profesional">Viaje duradero</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="profesional con titulación" name="rango" class="custom-control-input" value="Profesional con titulación">
                                    <label class="custom-control-label" for="profesional con titulación">Viaje corto</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="tecnico" name="rango" class="custom-control-input" value="Técnico">
                                    <label class="custom-control-label" for="tecnico">Full day</label>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item mx-0 text-center" style="background: rgba(61,50,66,0.1); color: #162A35;">
                            <button class="btn btn-primary m-2" >Buscar</button> 
                        </li>
                    </ul>
                </form>
            </div>

            <div class="col-lg-9 col-md">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            Resultados de búsqueda: ->query/-
                        </div>
                        <div class="col-12 col-md-10 my-3">
                            <div class="card mb-3 shadow" style="height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <img class="rounded-circle" src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" alt="" width="50px" height="50px">
                                                        </div>
                                                        <div class="col">
                                                            <p class="m-0">/perfil name\</p>
                                                            <p class="m-0">/date create\</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="fas fa-map-marker-alt m-2"></i><span>/ubicacion\</span>
                                                </div>
                                            </div>
                                            <h5 class="card-title">/destino title\</h5>
                                            <p class="card-text ">/destino descript\</p>
                                            <a href=""><p>Ver más</p></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/foto-gratis/disparo-vertical-hermosa-puesta-sol-playa_181624-18213.jpg?size=338&ext=jpg" class="rounded-end" alt="..." height="300px" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- ELIMINAME --}}
                        {{#each destinos}}
                        <div class="col-12 col-md-10 my-3">
                            <div class="card mb-3 shadow" style="height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <img class="rounded-circle" src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" alt="" width="50px" height="50px">
                                                        </div>
                                                        <div class="col">
                                                            <p class="m-0">{{nombre_perfil}} {{apellido_perfil}}</p>
                                                            <p class="m-0">{{timeago fecha_creacion_perfil}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="fas fa-map-marker-alt m-2"></i><span>{{ciudad_ubicacion}}, {{region}}</span>
                                                </div>
                                            </div>
                                            <h5 class="card-title">{{titulo_destino}}</h5>
                                            <p class="card-text ">{{contenido_destino}}</p>
                                            <a href="/destinos/filtro_destinos/{{id_destino}}"><p>Ver más</p></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/foto-gratis/disparo-vertical-hermosa-puesta-sol-playa_181624-18213.jpg?size=338&ext=jpg" class="rounded-end" alt="..." height="300px" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        <div class="col-12 col-md-10 my-3">
                            <div class="card mb-3 shadow" style="height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <img class="rounded-circle" src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" alt="" width="50px" height="50px">
                                                        </div>
                                                        <div class="col">
                                                            <p class="m-0">/perfil name\</p>
                                                            <p class="m-0">/date create\</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="fas fa-map-marker-alt m-2"></i><span>/ubicacion\</span>
                                                </div>
                                            </div>
                                            <h5 class="card-title">/destino title\</h5>
                                            <p class="card-text ">/destino descript\</p>
                                            <a href=""><p>Ver más</p></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/foto-gratis/disparo-vertical-hermosa-puesta-sol-playa_181624-18213.jpg?size=338&ext=jpg" class="rounded-end" alt="..." height="300px" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-10 my-3">
                            <div class="card mb-3 shadow" style="height: 300px;">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <img class="rounded-circle" src="https://www.nationalgeographic.com.es/medio/2018/02/27/playa-de-isuntza-lekeitio__1280x720.jpg" alt="" width="50px" height="50px">
                                                        </div>
                                                        <div class="col">
                                                            <p class="m-0">/perfil name\</p>
                                                            <p class="m-0">/date create\</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <i class="fas fa-map-marker-alt m-2"></i><span>/ubicacion\</span>
                                                </div>
                                            </div>
                                            <h5 class="card-title">/destino title\</h5>
                                            <p class="card-text ">/destino descript\</p>
                                            <a href=""><p>Ver más</p></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://img.freepik.com/foto-gratis/disparo-vertical-hermosa-puesta-sol-playa_181624-18213.jpg?size=338&ext=jpg" class="rounded-end" alt="..." height="300px" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- FIN ELMINAME --}}

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>